@model HomeMaintance.Models.ViewModels.HouseModelDetails
@using HomeMaintance.Reposity
@using HomeMaintance.Models
@using HomeMaintance.Models.ViewModels
@{
    ViewData["Title"] = "ViewDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IUnitOfWork unitOfWork = (IUnitOfWork)ViewData["DbContext"];
    //var systemconf = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault();
    //FooterViewModel ft = ViewBag.Footer;

    FooterViewModel footerView = new FooterViewModel
    {
        SystemConfigs = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault(),
        Services = unitOfWork.Repository<Services>().GetAll().Take(6).ToList()
    };
}

<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <div class="text-center">
            <h3 style="text-align:center">@Model.HouseModel.HouseModelName</h3>
            <h5>Thể loại: @Model.HouseModelCategory.HouseModelCategoryName</h5>
            <hr />
        </div>
        <div class="row">
            @foreach (var item in Model.Images)
            {
                <div class="col-md-3 col-sm-12 w3_ban1">
                    @*<div class="card">
                            <img class="card-img-top" style="height:100px;width:100px;" src="@item.ImageUrl" alt="Card image cap">
                        </div>*@
                    <img class="card-img-top" style="height:100%;width:100%;" src="@item.ImageUrl" alt="Card image cap">

                </div>
            }
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
@Html.Partial("~/Views/Shared/_FooterPartial.cshtml", footerView)

