@model ReflectionIT.Mvc.Paging.PagingList<HouseModels>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <div class="w3_mg">
            <h3>Bảng loại công việc</h3>
        </div>
        <div class="offset-10">
            <a asp-action="Create" class="btn btn-info"><i class="fa fa-plus"></i> &nbsp; Thêm</a>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 20%;">Tên mẫu nhà</th>
                    <th style="width: 20%;">Danh mục</th>
                    <th style="width: 20%;">Hình đại diện</th>
                    <th style="width: 20%;">Mô tả</th>
                    <th style="width: 20%;">Ngày tạo</th>
                    <th style="width: 20%;">Ngày chỉnh sửa</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width: 20%;">@Html.DisplayFor(m => item.HouseModelName)</td>
                        <td style="width: 20%;">@Html.DisplayFor(m => item.HouseModelCategory.HouseModelCategoryName)</td>
                        <td><img src="@item.ImageThumbnail" width="50%;"/></td>
                        <td style="width: 20%;">@Html.DisplayFor(m => item.Description)</td>
                        <td style="width: 20%;">@Html.DisplayFor(m => item.CreatedDate)</td>
                        <td style="width: 20%;">@Html.DisplayFor(m => item.ModifiedDate)</td>
                        <td >
                            <partial model="@item.Id" name="_TableButtonPartial"/>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <nav aria-label="HouseModel Paging" class="float-right clearfix">
            <vc:pager paging-list="@Model"></vc:pager>
        </nav>
    </div>
  
</section>

