@model IEnumerable<TypicalConstruction>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <div class="w3_mg">
            <h3>Danh sách công trình tiêu biểu</h3>
        </div>
        <div class="offset-10">
            <a asp-action="Create" class="btn btn-info"><i class="fa fa-plus"></i> &nbsp; Thêm công trình tiêu biểu</a>
        </div>
        <div class="row">
            <table class="table table-striped" style="font-size: 1em">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.CustomerName)</th>
                        <th>@Html.DisplayNameFor(m => m.Thumbnail)</th>
                        <th>@Html.DisplayNameFor(m => m.Address)</th>
                        <th>@Html.DisplayNameFor(m => m.Description)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td>@Html.DisplayFor(m => item.CustomerName)</td>
                        <td><img src="~/images/TypicalImages/@item.Thumbnail" width="100" height="100"/></td>
                        <td>@Html.DisplayFor(m => item.Address)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>
                        <td style="width:100%">
                            <div class="btn-group" role="group" style="height:44px; ">
                                <a type="button" class="btn btn-success" asp-controller="TypicalConstruction" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                <a type="button" class="btn btn-danger" asp-controller="TypicalConstruction" asp-action="Delete" asp-route-id="@item.Id" onclick="$('.top-alert').notify('Delete success', {position: 'top center'});"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>

    </div>
</section>