@model System.Collections.Generic.ICollection<HomeMaintance.Models.Slide>

<link rel="stylesheet" href="~/css/animate.css" />
<link rel="stylesheet" href="~/css/description.css" />
<div class="w3_banner_info">

        <div class="callbacks_container">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ul class="carousel-indicators">
                    @for (int i = 0; i < @Model.Count; i++)
                    {
                        if (i == 0)
                        {
                            <li data-target="#demo" data-slide-to="@i" class="active"></li>
                        }
                        else
                        {
                            <li data-target="#demo" data-slide-to="@i"></li>
                        }
                    }
                </ul>
                <!-- The slideshow -->
                <div class="carousel-inner">
                    @for (int i = 0; i < @Model.Count; i++)
                    {
                        if (i == 0)
                        {
                            <div class="carousel-item active">
                                <img src="~/images/SlideImages/@Model.ElementAt(i).Image" alt="Los Angeles" style="width: 100%; height: 100%">
                                <div class="carousel-caption text">
                                    <h3>@Model.ElementAt(i).Name</h3>
                                    <p id="text_animate" >Sự an toàn và hài lòng của bạn là động lực cho chúng tôi</p>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <img src="~/images/SlideImages/@Model.ElementAt(i).Image" alt="Los Angeles"  style="width: 100%; height: 100%">
                                <div class="carousel-caption text">
                                    <h3>@Model.ElementAt(i).Name</h3>
                                    <p id="text_animate" >Sự an toàn và hài lòng của bạn là động lực cho chúng tôi</p>
                                </div>
                            </div>
                        }
                    }
                </div>


                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
</div>
@*<script type="text/javascript">
    var words = document.getElementsByClassName('word');
    var wordArray = [];
    var currentWord = 0;

    words[currentWord].style.opacity = 1;
    for (var i = 0; i < words.length; i++) {
        splitLetters(words[i]);
    }

    function changeWord() {
        var cw = wordArray[currentWord];
        var nw = currentWord == words.length - 1 ? wordArray[0] : wordArray[currentWord + 1];
        for (var i = 0; i < cw.length; i++) {
            animateLetterOut(cw, i);
        }

        for (var i = 0; i < nw.length; i++) {
            nw[i].className = 'letter behind';
            nw[0].parentElement.style.opacity = 1;
            animateLetterIn(nw, i);
        }

        currentWord = (currentWord == wordArray.length - 1) ? 0 : currentWord + 1;
    }

    function animateLetterOut(cw, i) {
        setTimeout(function () {
            cw[i].className = 'letter out';
        }, i * 80);
    }

    function animateLetterIn(nw, i) {
        setTimeout(function () {
            nw[i].className = 'letter in';
        }, 340 + (i * 80));
    }

    function splitLetters(word) {
        var content = word.innerHTML;
        word.innerHTML = '';
        var letters = [];
        for (var i = 0; i < content.length; i++) {
            var letter = document.createElement('span');
            letter.className = 'letter';
            letter.innerHTML = content.charAt(i);
            word.appendChild(letter);
            letters.push(letter);
        }

        wordArray.push(letters);
    }

    changeWord();
    setInterval(changeWord, 4000);

</script>*@