@model ReflectionIT.Mvc.Paging.PagingList<HomeMaintance.Models.Appointments>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
    string text = "";
    string[] listTimeMark = null;
}

    <section class="contact py-lg-5 py-md-4 py-md-3 py-2">
        <div class=" container py-lg-5 py-md-4 py-md-3 py-2">
            <div class="w3_mg">
                <h3>Danh sách cuộc hẹn</h3>
            </div>
            <br />
            <div class="align-content-end">
                <form method="get" asp-action="Index">
                    @Html.CheckBox("filter") Chỉ hiện những cuộc hẹn chưa gặp
                    <button class="btn btn-success" type="submit">Lọc</button>
                </form>
                
            </div>
            <br />
            <div class="row">
                <table class="table table-striped">
                        <tr class="table-primary">
                            <th>Mã cuộc hẹn</th>                           
                            <th>Nội dung cuộc hẹn</th>
                            <th>Ngày gặp</th>
                            <th>Thời gian</th>
                            <th>Khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Tin nhắn của khách hàng</th>
                            <th>Ngày tạo</th>
                            <th>Nhân viên</th>
                            <th>Trạng thái</th>
                            <th></th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                <tr>
                    <td>@Html.DisplayFor(m => item.AppointmentsName)</td>
                    <td>@Html.DisplayFor(m => item.AppointmentContent)</td>
                    @if (item.AppointmentDate != null)
                    {
                        text = item.AppointmentDate.Value.ToString();
                        listTimeMark = text.Split(' ');

                        @*<td>@Html.DisplayFor(m => item.AppointmentDate, new { @id = "date", @value = "", @type = "text" })</td>*@
                        <td>@listTimeMark[0]</td>
                    }
                    else
                    {
                        <td>Chưa đặt ngày hẹn</td>
                    }
                    @if (item.AppointmentDate != null)
                    {

                        @*<td>@Html.DisplayFor(m => item.AppointmentDate, new { @id = "date", @value = "", @type = "text" })</td>*@
                        listTimeMark[1] = listTimeMark[1].Substring(0, 5);

                        <td>@listTimeMark[1] @listTimeMark[2]</td>
                    }
                    else
                    {
                        <td>Chưa đặt giờ hẹn</td>
                    }
                    <td>@Html.DisplayFor(m => item.CustomerName)</td>
                    <td>@Html.DisplayFor(m => item.CustomerPhone)</td>

                    @if (item.CustomerMessage != null)
                    {
                        @if (item.CustomerMessage.Length <= 15)
                        {
                            <td>@Html.DisplayFor(m => item.CustomerMessage)</td>
                        }
                        else
                        {
                            string temp = item.CustomerMessage.Substring(0, 15) + "...";
                            <td>@Html.DisplayFor(m => temp)</td>
                        }
                    }
                    else
                    {
                        <td>Không có</td>
                    }
                    <td>@Html.DisplayFor(m => item.CreatedDate)</td>
                    <td>@Html.DisplayFor(m => item.SalePerson.DisplayName)</td>
                    @if (item.isConfirm)
                    {
                        <td>Đã gặp</td>
                    }
                    else
                    {
                        <td>Chưa gặp</td>
                    }

                    <td style="width:100%">
                        <div class="btn-group" role="group" style="height:44px; ">
                            <a type="button" class="btn btn-success" asp-controller="Appointment" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                            <a type="button" class="btn btn-danger" asp-controller="Appointment" asp-action="Delete" asp-route-id="@item.Id" onclick="$('.top-alert').notify('Delete success', {position: 'top center'});"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
                        }
                </table>
            </div>
            <nav aria-label="HouseModel Paging" class="float-right clearfix">
                <vc:pager paging-list="@Model"></vc:pager>
            </nav>
        </div>
    </section>
@section Scripts{
    <script>
        $(document).ready(function () {
                var appointmentTime = document.getElementById('date').value;
                var splitData = "";
                if (appointmentTime.indexOf(" ") > 0) {
                    splitData = appointmentTime.Split(" ");
                } else {
                    splitData = appointmentTime.Split("T");
                }

                var time = splitData[1].substring(0, 5);
                if (time.slice(-1) == ":") {
                    time = time.substring(0, time.length - 1);
                }
                var amPmTime = splitData[2];

                $("#date").attr('value', splitData[0]);
                $("#time").attr('value', time + ' ' + amPmTime);
            });
    </script>
 }
