@model IEnumerable<HouseModelCategory>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

    @*<section class="contact py-lg-5 py-md-4 py-md-3 py-2">*@
        <div class="container py-lg-5 py-md-4 py-md-3 py-2">
            <div class="w3_mg">
                <h3>Bảng loại công việc</h3>
            </div>
            <div class="offset-10">
                <a asp-action="Create" class="btn btn-info"><i class="fa fa-plus"></i> &nbsp; Thêm mới</a>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tên danh mục mẫu nhà</th>
                            <th>Ngày tạo</th>
                            <th>Ngày chỉnh sửa</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@Html.DisplayFor(m => item.HouseModelCategoryName)</td>
                            <td>@Html.DisplayFor(m => item.CreatedDate)</td>
                            <td>@Html.DisplayFor(m => item.ModifiedDate)</td>
                            @*<td>
            <partial model="@item.Id" name="_TableButtonPartial" />
        </td>*@
                            <td style="width:100%">
                                <div class="btn-group" role="group" style="height:44px; ">
                                    <a type="button" class="btn btn-success" asp-controller="HouseModelCategory" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                    <a type="button" class="btn btn-danger" asp-controller="HouseModelCategory" asp-action="Delete" asp-route-id="@item.Id" onclick="$('.top-alert').notify('Delete success', {position: 'top center'});"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    @*</section>*@

