@model HomeMaintance.Models.ViewModels.HomeViewModel
@using HomeMaintance.Reposity
@using HomeMaintance.Models
@{
    ViewData["Title"] = "Home Page";
    IUnitOfWork unitOfWork = (IUnitOfWork)ViewData["DbContext"];
    var systemconf = unitOfWork.Repository<SystemConfig>().GetAll().FirstOrDefault();
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/jquery-ui.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/numberRoll.js"></script>

<script>
    jQuery(document).ready(function ($) {
        debugger;
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });
</script>
<section class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
    <div class="bannerbottom py-lg-5 py-md-4 py-md-3 py-2">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.Services)
                {
                    <div class="col-md-4 col-sm-12 w3_ban1">
                        <div class="card">
                            <img class="card-img-top" src="~/images/ServiceImages/@item.Thumbnail" style="height:200px;" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@item.ServiceName</h5>
                                <p class="card-text" style="height:100px;">@item.ShortDescription</p>
                                <a asp-action="Index" asp-controller="ServiceDetails" asp-route-id="@item.Id" class="btn btn-primary">Explore</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>
<section class="mission py-lg-5 py-md-4 py-md-3 py-2">
    <div class="mission py-lg-5 py-md-4 py-md-3 py-2">
        <div class="row">
            <div class="col-md-3 col-sm-12 w3_ms8">
                <img src="images/bb9.jpg" alt="xt" class="img-fluid">
            </div>
            <div class="col-md-3 col-sm-12 w3_ms1">
                <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Sứ mệnh của chúng tôi</h4>
                <p>Mang đến cho bạn những dịch vụ sửa chữa, trùng tu lại căn nhà của bạn hoặc xây dựng các công trình mới với chất lượng và sự an toàn tốt nhất!</p>
            </div>
            <div class="col-md-6 col-sm-12 w3_ms3">
                <!-- Slideshow container -->
                <div class="slideshow-container">
                    @foreach (var item in @Model.HumanResources)
                    {
                        <div class="mySlides" style="background-color:aliceblue">
                            <a asp-area="Customer" asp-controller="HumanResourcesDetails" asp-action="Index" asp-route-id="@item.Id"><img src="~/images/HumanImages/@item.Avatar" alt="xyt" class="rounded-circle img-fluid" style="width:150px; height:150px;"></a>
                            <h4>@item.PersonName</h4>
                            <ul>
                                <li>Kinh nghiệm: @item.ExperienceYears năm</li>
                                <li>Số điện thoại: @item.PhoneNumber</li>
                                <li>Vai trò: @item.Role</li>
                            </ul>
                        </div>
                    }
                    <!-- Full-width slides/quotes -->
                    <!-- Next/prev buttons -->
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

            </div>
            <div class="col-md-3 col-sm-12 w3_ms7">
                <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Tổng thể</h4>
                <p>Chúng tôi đã tạo ra những sản phẩm và nhận được các phản hồi tích cực từ khách hàng</p>
            </div>
            <div class="col-md-3 col-sm-12 w3_ms">
                <div class="row inner_stat_wthree_agileits">

                    <div class="col-md-6 stats_left counter_grid2">
                        <i class="far fa-edit"></i>
                        <p class="counter" id="project">50</p>
                        <h4>Dự án xây dựng và sửa chữa</h4>
                    </div>
                    <div class="col-md-6 stats_left counter_grid3">
                        <i class="far fa-smile"></i>
                        <p class="counter">>900</p>
                        <h4>Khách hàng hài lòng</h4>
                    </div>

                </div>
            </div>

            <div class="col-md-3 col-sm-12 w3_ms6">
                <div class="col-md-3 col-sm-12 w3_ms8">
                    <img src="~/images/HouseModels/house-models-2.jpg" style="width:500px;    max-width: 500px;" alt="xt" class="img-fluid">
                </div>
            </div>
            <div class="col-md-3 col-sm-12 w3_ms4">

                <h4 class="mb-lg-4 mb-md-3 mb-sm-2 mb-2">Tầm nhìn</h4>
                <p>Trở thành niềm tin và biểu tượng của xây dựng Việt Nam</p>
                <p>Trở thành một doanh nghiệp đáng tin cậy trong việc xây dựng và sửa chữa</p>
                <p>Với thông điệp "An toàn là trên hết" sẽ mang đến cho bạn những công trình chất lượng và an toàn nhất</p>
            </div>
        </div>
    </div>
</section>

<!-- Skills -->
<section class="skills py-lg-5 py-md-4 py-md-3 py-2">
    <div class="stats wthree-sub py-lg-5 py-md-4 py-md-3 py-2" id="skills">
        <div class="container-fluid">
            <h3 class="w3l-title mb-lg-4 mb-md-3 mb-sm-2 mb-2">Kỹ năng của chúng tôi</h3>
            <div class="row">
                <div class="col-sm-6 stats_grid_right">
                    <div class="skillbar" data-percent="78">
                        <span class="skillbar-title" style="background: #f1703a;width: 78%;">NỘI THẤT</span>
                        <p class="skillbar-bar" style="background: #f88c5e;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="94">
                        <span class="skillbar-title" style="background: #2980b9;width:70%;">NGOẠI THẤT</span>
                        <p class="skillbar-bar" style="background: #3498db;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="76">
                        <span class="skillbar-title" style="background: #a0d034;width:70%;">SÂN VƯỜN</span>
                        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->
                </div>
                <div class="col-sm-6 stats_grid_right">
                    <div class="skillbar" data-percent="54">
                        <span class="skillbar-title" style="background: #f1703a;width:80%;">MÁI NHÀ</span>
                        <p class="skillbar-bar" style="background: #f88c5e;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="64">
                        <span class="skillbar-title" style="background: #2980b9;width:75%">ĐIỆN NƯỚC</span>
                        <p class="skillbar-bar" style="background: #3498db;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                    <!-- End Skill Bar -->

                    <div class="skillbar" data-percent="84">
                        <span class="skillbar-title" style="background: #a0d034;width:70%">TRANG TRÍ</span>
                        <p class="skillbar-bar" style="background: #b2ec2f;"></p>
                        <span class="skill-bar-percent"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Skills -->
<!-- Contact -->
<section class="contact py-lg-5 py-md-4 py-md-3 py-2">
    <div class="container py-lg-5 py-md-4 py-md-3 py-2">
        <div class="w3_mg">
            <h4>DOANH NGHIỆP TƯ NHÂN NAM VIÊT</h4>
            <p class=" my-lg-4 my-md-3 my-sm-2 my-2">Hãy để lại thông tin hoặc liên hệ với chúng tôi để nhận được những sự tư vấn tận tình nhất để giúp bạn có thể lựa chọn dịch vụ phù hợp cho chính mình</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Liên hệ với chúng tôi
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#FeedbackModal">
                Phản hồi
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DOANH NGHIỆP TƯ NHÂN NAM VIỆT</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="contact" id="contact">
                                <div class="container">
                                    <h3 class="title clr">THÔNG TIN LIÊN HỆ</h3>
                                    <div class=" contact-form">
                                        <form method="post" asp-action="CreateAppointment">
                                            <div class="row contact-bothside-agileinfo">
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                                                    <input id="txtName" type="text" name="txtName" placeholder="Họ và tên" required="">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-right form-left">
                                                    <input id="txtEmail" type="email" name="txtEmail" placeholder="Email" required="">
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-xs-6 form-left form-right ">
                                                    <input id="txtPhone" type="text" name="txtPhone" placeholder="Số điện thoại" required="">
                                                </div>
                                                <textarea id="txtMessage" name="txtMessage" placeholder="Nội dung" required=""></textarea>

                                                <input id="submitContact" type="submit" value="SUBMIT" class="btn btn-primary">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <partial name="Feedback" />
        </div>
    </div>
</section>
@Html.Partial("~/Views/Shared/_FooterPartial.cshtml", systemconf);
<!-- /Conatct -->
@section Scripts
{

    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- //banner Slider -->


    <script src="~/lib/bootstrap/dist/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!--//tabs-->
    <!--team-->
    <script type="text/javascript">
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 4,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 3
                    }
                }
            });

        });
    </script>

    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <script>
        $('.counter').countUp();
        $('#project').countUp();
    </script>
    <!-- //stats -->

    <script>
        $(document).ready(function () {

            $('.skillbar').skillBars({
                from: 0,
                speed: 4000,
                interval: 100,
                decimals: 0,
            });

        });
    </script>
    <!-- //skills -->
    <!-- sign in and signup pop up toggle script -->
    <script>
        $('.toggle').click(function () {
            // Switches the Icon
            $(this).children('i').toggleClass('fa-pencil');
            // Switches the forms
            $('.form').animate({
                height: "toggle",
                'padding-top': 'toggle',
                'padding-bottom': 'toggle',
                opacity: "toggle"
            }, "slow");
        });
    </script>
    <!-- sign in and signup pop up toggle script -->
    <script type="text/javascript">
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- scrolling script -->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>

    <!-- //scrolling script -->
    <!--//start-smoth-scrolling -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="jquery.counterup.min.js"></script>

    <script>

    </script>
}
